.tax-btn{
    width: 150px;
}
.modal-lg{
    max-width:95%!important;
}

.regime-columns{
    td{
        font-weight: bold;
        text-align: center;
    }
}
.slab-values{
    td{
        text-align: center;
    }
}
.regime-header{
    font-size: 1.5rem;
    background-color: rgb(88, 139, 151);
    color: white;
}

.bg-tax-final{
    background-color: rgb(219, 253, 151);
}